/* Fonts */
@font-face {
    font-family: Raleway;
    src: url(assets/fonts/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
    font-family: Sail;
    src: url(assets/fonts/Sail/Sail-Regular.ttf);
}

@font-face {
    font-family: Domine;
    src: url(assets/fonts/Domine/static/Domine-Regular.ttf);
}

/* Reset HTML */
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #faf9f7;
}

/* Common */
.text-decoration {
    text-decoration: none;
}

.pos-absolute {
    position: absolute;
}

.mb110 {
    margin-bottom: 110px;
}

#main {

}

/* Header */
#main {
    top: 0;
    left: 0;
    right: 0;
}

#header {
    height: 100px;
    background-color: #fff;
}

#logo {
    position: relative;
}   

#logo .oganic {
    font-size: 15.85px;
    font-family: "Raleway";
    color: rgb(196, 72, 96);
    text-align: center;
    left: 436px;
    top: 29px;
}

#logo .arangi {
    font-size: 40px;
    font-family: "Sail";
    color: rgb(196, 72, 96);
    text-align: center;
    left: 379px;
    top: 34px;
}

#nav {
    font-size: 17px;
    font-family: "Raleway";
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 715px;
    top: 55px;
}

#nav li {
    display: inline-block;
}

#nav .nav-arrow-down {
    font-size: 10px;
}

#nav li a {
    text-decoration: none;
    color: #333333;
    padding: 0 15px;
}

.new {
    font-size: 10px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    left: 849px;
    top: 35px;
}

.round-new {
    background-color: rgb(196, 72, 96);
    border-radius: 20px;
    left: 838px;
    top: 30px;
    width: 46px;
    height: 19px;
}

.func-user {
    left: 1311px;
    top: 42px;
    font-size: 25px;
    opacity: 0.6;
}

.func-search {
    left: 1364px;
    top: 42px;
    font-size: 25px;
    opacity: 0.6;
}

#cart {
    left: 0px;
    top: 0px;
}

#cart .func-cart {
    left: 1414px;
    top: 40px;
    font-size: 25px;
    opacity: 0.6;
}

#cart .cart-number {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    text-align: center;
    left: 1440px;
    top: 38px;
}

#cart .cart-round {
    border-radius: 50%;
    background-color: rgb(196, 72, 96);
    left: 1434px;
    top: 37px;
    width: 20px;
    height: 20px;
}

#menu-icon .menu {
    left: 1519px;
    top: 40px;
    font-size: 28px;
    opacity: 0.6;
}

#breadscrumb {
    height: 275px;
}

#breadscrumb .bg-img{
    right: 0;
    width: auto;
}

#breadscrumb .style-guide {
    font-size: 45px;
    font-family: "Raleway";
    color: rgb(254, 254, 254);
    font-weight: bold;
    text-align: left;
    left: 375px;
    top: 201px;
}

#breadscrumb .home {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(196, 72, 96);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    left: 377px;
    top: 264px;
}

#breadscrumb .style-guide-2 {
    font-size: 14px;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    left: 440px;
    top: 264px;
}

#content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#content .content-cols {
    width: 50%;
    float: left;
}

#content .content-section {
    padding-top: 110px;
}

#content .section-heading {
    font-size: 35px;
    font-family: "Raleway";
    color: rgb(51, 51, 51);
}

#content .colour-lists {
    padding-top: 39px;
    padding-bottom: 95px;
}

#content .colour-item {
    float: left;
    width: 16.66667%;
}

#content .colour1,
#content .colour2,
#content .colour3,
#content .colour4,
#content .colour5 {
    width: 70px;
    height: 70px;
}

#content .colour1 {
    background-color: #c44860;
}

#content .colour2 {
    background-color: #4d772d;
}

#content .colour3 {
    background-color: #5892d0;
}

#content .colour4 {
    background-color: #333333;
}

#content .colour5 {
    background-color: #797476;
}

#content .colour-code {
    width: 70px;
    padding-top: 20px;
    font-size: 15px;
    text-align: center;
    opacity: 0.7;
}

#content .button-lists {
    width: 100%;
    padding-top: 32px;
    display: flex;
    float: left;
}

#content .button-item {
    width: 185px;
    text-align: center;
    float: left;
}

#content .button-box {
    height: 55px;
    font-size: 18px;
    font-family: "Raleway";
    border: 2px solid #c54960;
    border-radius: 30px;
    color: rgb(51, 51, 51);
    height: 55px;
    line-height: 55px;
}

#content .active:active {
    cursor: pointer;
    background-color: #c44860;
    color: #fff;
}

#content .hover1:hover {
    cursor: pointer;
    background-image: linear-gradient(#c44860, #f4ae7b);
    color: #fff;
    border: 2px solid;
}

#content .hover2:hover {
    cursor: pointer;
    background-color: #f4ae7b;
    color: #fff;
    border: 2px solid;
}

#content .text-round {
    font-size: 18px;
    font-family: "Raleway";
    color: rgb(51, 51, 51);
    height: 55px;
    line-height: 55px;
}

#content .button-text {
    font-size: 15px;
    font-family: "Domine";
    color: rgb(121, 116, 118);
    margin-top: 20px;
}

#content .button-arrow {
    font-size: 20px;
    color: rgb(148, 142, 144);
    margin: 19px 30px;
}

#content .box {
    display: flex;
    width: 120px;
    height: 45px;
    border: 2px solid #e5e5e5;
    margin-bottom: 110px;
}

#content .box-item {
    width: 33.3333%;
    line-height: 45px;
    color: #938f90;
}

#content .number {
    font-size: 14px;
    font-family: "Domine";
    color: black;
}

#content .button-prev:hover,
#content .button-next:hover {
    cursor: pointer;
}

#content .button-prev:active,
#content .button-next:active {
    border-radius: 100%;
    background-color: #f4ae7b;
}

#content .display-three {
    width: 33.3333%;
}

#content .button-color {
    background-color: #c44860;
    color: #fff;
}

#content .size-40 {
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin: 8px auto 0;
    line-height: 40px;
}

#content .text-40 {
    margin-top: 27px;
}

#content .size-32 {
    width: 118px;
    height: 32px;
    font-size: 15px;
    margin: 12px auto 0;
    line-height: 32px;
    float: left;
}

#content .text-32 {
    width: 118px;
    text-align: center;
    margin-top: 31px;
    float: left;
}

#content .lists {
    margin-top: 25px;
}

#content .lists-item {
    width: 32.8%;
    display: inline-block;
}

#content .lists-item li {
    font-size: 15px;
    font-family: "Domine";
    color: rgb(121, 116, 118);
    padding: 15px 0;
}

#content .style-none {
    list-style-type: none;
}

.lists-item span li{
    color: rgb(196, 72, 96) !important;
}

.content-section .alert-lists {
    margin-top: 35px;
    margin-bottom: 271px;
}

.alert-lists .alert-item {
    display: inline;
}

.alert-lists li {
    font-size: 14px;
    font-family: "Domine";
    color: rgb(255, 254, 254);
    background-color: rgb(245, 46, 85);
    width: 90%;
    list-style-type: none;
    margin: 5px 0;
    padding: 14px 0px;
}

.alert-item .item {
    padding: 20px;
}

.alert-item .item-close {
    float: right;
    margin: -4px 18px 0;
    background-color: #fff;
    color: rgb(245, 46, 85);
    padding: 5px;
    border-radius: 100%;
}

.alert-lists .box-color1 {
    background-color: rgb(244, 183, 87);
}

.alert-lists .box-color2 {
    background-color: rgb(180, 217, 50);
}